<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ISO_DMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ISO_DMS.Properties.Settings>
            <setting name="LastCheckInDocumentsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchISODocumentType" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchISOTierLevel" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchISOTitleContains" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchOfficeDocumentType" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchEffectiveDateStart" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchEffectiveDateEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchDateCreatedStart" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchDateCreatedEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchLastRevisionDateStart" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchLastRevisionDateEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchCreatedBy" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchRevisedBy" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchCheckBoxISODocumentType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchCheckBoxISOTierLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchCheckBoxISODocumentTitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchCheckBoxOfficeDocumentType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchCheckBoxEffectiveDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchCheckBoxDateCreated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchCheckBoxLastRevisionDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchCheckBoxCreatedBy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchCheckBoxRevisedBy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="documentSearchInProgress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="documentSearchSQLText" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchCheckBoxDepartment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchDepartment" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentUserSecurityLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="RevisonCheckedIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideRevisions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scanningCancelled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SOPJobCodeLookUp" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowISODocumentsOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishedVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="GridMargin" serializeAs="String">
                <value />
            </setting>
            <setting name="GridTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GridLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GridHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SearchCustomer" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchProduct" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchUserDefinedCategories" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchCheckBoxUserDefinedCategories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchCheckBoxCustomer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchCheckBoxProduct" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchISOTag" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchCheckBoxISOTag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchVendor" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchCheckBoxVendor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchShowAllUserDefinedCategories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModifyDocumentsShowAllUserDefinedCategories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ContinuousScanning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="monitoredDocumentName" serializeAs="String">
                <value />
            </setting>
            <setting name="cancelRefreshMasterDocuments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="documentCountUpdatedByCurrentUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RevistedDocumentPath" serializeAs="String">
                <value />
            </setting>
        </ISO_DMS.Properties.Settings>
    </userSettings>
</configuration>